.outerdiv1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.div1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;

}

.div2 {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
}

.div2 img {
    width: 280px;
    height: 80px;
}

#photos img {
    width: 150px;
    height: 250px;
}

.div3 {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
}


.outerdiv2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 450px;
    grid-gap: 5px;
    display: flex;
}

.div4 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

}

.div5 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}

.div6 {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}

.div7 {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
}

.div8 {
    display: grid;
    grid-column: 5/6;
    grid-row: 1/2;
}

#photos {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
}

button {
    width: 50px;
    height: 70px;
    background-color: rgb(111, 192, 31);
    border-radius: 5px;
    border-style: none;
}

.paradiv1 {
    background-color: rgb(17, 167, 30);
    border-radius: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    padding: 10%;
}

@media screen and (max-width:450px) {


    .outerdiv1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .div1 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .div2 {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: flex-end;
    }

    .div2 img {
        width: 250px;
        height: 80px;
    }

    .div3 {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
    }




    .outerdiv2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        height: 600px;
        grid-gap: 5px;

    }

    .div4 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .div5 {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .div6 {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .div7 {
        display: grid;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .div8 {
        display: grid;
        grid-column: 1/2;
        grid-row: 5/6;
    }

}

@media screen and (min-width:450px) and (max-width:1024px) {

    .outerdiv2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        grid-gap: 5px;

    }

    .div4 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .div5 {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .div6 {
        display: grid;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .div7 {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .div8 {
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
    }



}